<p>test-board works!</p>



<!-- <div class="chosePlace">
        <div (click)="play()" class="choice1"></div>
        <div (click)="play()" class="choice2"></div>
        <div (click)="play()" class="choice3"></div>
        <div (click)="play()" class="choice4"></div>
        <div (click)="play()" class="choice5"></div>
        <div (click)="play()" class="choice6"></div>
        <div (click)="play()" class="choice7"></div>
    </div>
    <div class="board">
        <div class="col">
            <div *ngFor="let element of colOne" [ngClass]="{'yellow': currentPlayer == 1, 'red': currentPlayer == 2}">
            </div>
        </div>
        <div class="col">
            <ng-container>
                <div *ngFor="let element of colArr" class="chip"></div>
            </ng-container>
        </div>
        <div class="col">
            <div *ngIf="colThree[colThree.length] == 'y'" [ngClass]="'red'"></div>
        </div>
        <div class="col">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->