.container {
  margin: 0 auto;
  max-width: fit-content;
}

.chosePlace {
  width: 700px;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.chosePlace * {
  background: yellow;
}

.board {
  width: 700px;
  height: 600px;
  background: rgb(65, 65, 65);
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  gap: 10px;
}

.col {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: rgb(199, 199, 199);
}


.yellow {
  background: yellow;
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.red {
  background: red;
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
